# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*_u.*
*_t.*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# User
.vscode/
crust-sworker.tar
crust-sworker/
scripts/err.log
scripts/prod_sign.sh
src/.config_HW_RELEASE_x64
src/crust-sworker
err.log
